
venv/
.venv/
env/
.env/
.env
ENV/
__pycache__/
*.py[cod]


.pytest_cache/
.mypy_cache/
.cache/
.cache/*
pip-wheel-metadata/


node_modules/
dist/
build/
extra/


*.db
*.sqlite3
*.db-journal

README.metadata

.cursor/
.cursor/*

.kiro/
.kiro/*